*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}
.menu{
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	opacity: 0.8;
}
.menu a {
	color: #000;
	display: inline-block;
	width: 100px;
	padding: 20px 40px;
	font-weight: lighter;

}
.menu a:hover{
	background-color: #ccc;

	
}
.header{
	text-align: center;
	color: #fff;
	padding: 200px 0;
	background-image: url(../img/polygons.png);
	background-repeat: no-repeat;
	background-position: top center; 
	margin-top: 58px;
	background-attachment: fixed;
}
.header p{
	margin: 45px 0;
}
.header a{
	padding: 12px 24px;
	background-color: #fff;
	border-radius: 10px;
	color: #000;


}
.header a:hover{
	background-color: #b1b1b2;

}
.abaut-company img{
	width: 400px;
	float: right;
	margin: 30px ;
	margin-top: 0;

}
.abaut-company{
	max-width: 1200px;
	padding: 40px 0;
	margin:0 auto;
	text-align: justify;

}
.abaut-company h2{
	text-align: center;

}
.member{
	display: inline-block;
	width: 20%;
	margin: 20px 10px;
	box-shadow: 0 2px 5px gray;
	padding: 20px;
	text-align: left;
	min-width: 300px;
}
.member img{
	width: 100%;

}
.team{
	text-align: center;

}
.member h3{
	font-weight: 400;
	font-size: 24px;
	margin: 15px 0;

}
.member .position{
	opacity: 0.6;
}
.member .discription{
	margin: 12px 0;

}
.member a{
	display: inline-block;
	width: 100%;
	background-color: #055b73;
	padding: 14px 0;
	border-radius: 10px;
	color: #fff;
	text-align: center;

}
.tarif li{
	border-bottom: 1px solid #ddd;
	padding: 16px 0;
	background-color: #fff;
}
.tarif .tarif-name{
	color: #fff;
	background-color: #000;
	font-size: 24px;
	padding: 32px 0;

}
#pro{
	background-color: #055b73;
	padding: 48px 0;

}    
.tarif{
	display: inline-block;
	width: 30%;
	margin: 10px;
	background-color: #fff;
	vertical-align: middle;
	min-width: 300px;
	
}
.tarif li:last-child{
	background-color: #f1f1f1;
	padding: 24px 0;
}
.tarif a{
	background-color: #000;
	padding: 12px 24px;
	color: #fff;
	border-radius: 15px;
}
.praces{
	background-color: #616161;
	text-align: center;
	padding: 50px 0;
}
.praces h2, .praces p{
	color: #fff;
	margin: 15px 0;
}
.bold{
	font-weight: 700;

}
.prace{
	color: #000;
	font-weight: 700;
	font-size: 24px;
}
.period{
	color: #000;
	opacity: 0.4;
}
.contact{
	background-color: #f1f1f1;
	padding: 40px 0;
	text-align: center;

}
.contact-adres{
	background-image: url(../img/address.png);
}
.contact-phone{
	background-image: url(../img/phone.png);
}
.contact-mail{
	background-image: url(../img/mail.png);
}
.contact-info{
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 30px ;
	background-size: 18px 18px;
	background-position: left center;
	margin-left: 5%;
	margin-top: 10px;
}
.contact input{
	padding: 8px;
	width: 90%;
	outline: none;
	margin: 10px 0;
	border: none;
}
.contact button{
	background-color: #000;
	color: #fff;
	padding: 8px 16px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 10px;
	margin-top: 10px;

}
.footer{
	background-color: #000;
	color: #fff;
	width: 100%;
}
	